[submodule "parcels-v09"]
	path = parcels-v09
	url = https://github.com/OceanParcels/parcels.git
[submodule "parcels-v111"]
	path = parcels-v111
	url = https://github.com/OceanParcels/parcels.git
[submodule "parcels-v242"]
	path = parcels-v242
	url = https://github.com/OceanParcels/parcels.git
[submodule "parcels-v314"]
	path = parcels-v314
	url = https://github.com/OceanParcels/parcels.git
[submodule "parcels-v105"]
	path = parcels-v105
	url = https://github.com/OceanParcels/parcels.git
[submodule "parcels-v200"]
	path = parcels-v200
	url = https://github.com/OceanParcels/parcels.git
